<span class="container">
  <app-card >
    <div class="image-container">
      <img style=" border: 2px white" ngSrc="/assets/bebz.png" width="300" height="400" alt="alt">
      <span class="text-small">Me and Beza</span>
    </div>
  </app-card>
  <app-card [title]="'Something about me'">
    <p style="letter-spacing: 0.5px">{{aboutMeCardContent}}</p>
    <p style="letter-spacing: 0.5px">{{aboutMeCardContent2}}</p>
        <p style="letter-spacing: 0.5px">{{aboutMeCardContent3}}</p>

  </app-card>

</span>

