<span class="container">
  <app-card>
    <div content class="image-container">
      <img
        style="border: 2px white"
        ngSrc="/assets/bebz.png"
        width="300"
        height="400"
        alt="alt"
      />
      <span class="text-small">Me and Beza</span>
    </div>
  </app-card>
  <app-card [title]="'Something about me'">
    <ng-container content>
      @for (section of profileSections; track section) {
        <p class="text">{{ section }}</p>
      }
    </ng-container>
  </app-card>
</span>
