:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 20%;
  position: relative;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    letter-spacing: 0.1rem;
  }

  h2 {
    font-size: 1.875rem;
    color: white;
    letter-spacing: 0.1rem;
  }

  .techs {
    display: flex;
    gap: 30px;
    margin: 25px 0;
    flex-wrap: wrap;

    @media (max-width: 750px) {
      app-tech-icon {
        width: calc(50% - 15px);
      }
    }
  }

  span {
    margin-bottom: 40px;

    button {
      --clr: var(--color-gradient-3);
    }
  }
}
