<button
  style="--clr: var(--color-gradient-1)"
  [routerLink]="'/home'"
  routerLinkActive="active"
>
  <span>Home</span>
</button>
<button
  style="--clr: var(--color-gradient-1)"
  [routerLink]="'/me'"
  routerLinkActive="active"
>
  <span>About me</span>
</button>
<button
  style="--clr: var(--color-gradient-1)"
  [routerLink]="'/projects'"
  routerLinkActive="active"
>
  <span>Projects</span>
</button>
<!--<button style="&#45;&#45;clr:var(&#45;&#45;color-gradient-1)" [routerLink]="'/blog'" routerLinkActive="active"><span>Blog</span></button>-->
