:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 5px;

  img {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 10px;
    &:hover {
      transform: rotateY(360deg);
      transition: 1s;
    }
  }

  b {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}
